@import "tailwindcss";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
}

/* @utilities {
    .bg-gradient {
        background: linear-gradient(to bottom, red 70%, transprent);
    }
} */